.overflow {
    overflow: auto; /* קביעת התכונה overflow ל-auto או ל-scroll כרצונך */
  }
  ::-webkit-scrollbar {
    background-color: aliceblue;
    width: 10px;
    border-radius: 10px;
  }
  
  /* צבע המחוון (thumb) של הפס האנכי */
  ::-webkit-scrollbar-thumb {
    background-color: #08a48c;
  }